# Gradleのキャッシュとビルド関連ファイルを除外
.gradle
build/

# 各種OSが自動生成するファイルを除外
.DS_Store
Thumbs.db

# ログファイルを除外
*.log

# IDEの設定ファイルを除外 (IntelliJ, VSCodeなど)
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/